html,
body,
.main {
  height:100%;
  min-width:340px;
  min-height: 480px;
}
// don't forget your proportional font / line height mixin
// test the bootstrap js, use and or delete
// retina images
// elizabethm email signature update
// object fit fix for ie + happy browser for object-fit (ie) and vh/vw (opera)
// add in flexbox for centering

body {
  font-family: $worky;
  color:$night;

  @include phone {border-top:10px solid blue;}
  @include tablet-p {border-top:10px solid green;}
  @include tablet-h {border-top:10px solid yellow;}
  @include desktop-s {border-top:10px solid orange;}

  // – – – – – – – – – – general styles
  h1, h2, h3, p { margin:0 0 2px 0;}

  h2 {
    @include font-size(30px, 33px);
    font-weight: 300;

      @include phone {@include font-size(15px, 18px);}
      @include tablet-p {@include font-size(18px, 21px);}
      @include tablet-h {@include font-size(21px, 24px);}
      @include desktop-s {@include font-size(24px, 27px);}
  }

  li {
    list-style-type: none;
    padding:2px 0;
  }

  img{ max-width:100%; }

  a:link {color: $hotpink;}
  a:visited {color: $hotpink;}
  a:hover {color: $yellow;text-decoration:none;}
  a:active {color: $hotpink;} 
  a:focus {color: $yellow;}

  // – – – – – – – – – – global
  a.arrow {
    background:transparent url('/img/arrow-down.svg') no-repeat;
    height:40px;
    width:40px;
    display: block;
    position:absolute;
    bottom:50px;

    &:hover {
      background:transparent url('/img/arrow-down-on.svg') no-repeat;
      border-bottom-width:0;
    }

    @include phone {display:none;}
    @include tablet-p {display:none;} 
  }

  aside {
    @include font-size(15px, 21px);
    color:$salon;
    text-transform: uppercase; 
    margin-bottom:2px;

    @include phone {
      @include font-size(10px, 12px);
    }
    @include tablet-p {
      @include font-size(12px, 15px);
    }
  }

  .color-wrap {
    height:100vh;

    img {
      width:95%;
      float:right;
    }
  }

   .vertical-align {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

  // – – – – – – – – – – home layout (+ featured project)
	&.home, &.work , &.work-alt {

		section.identity {
  	    text-align:center;
        background-color:$night;
        background-image: url('/img/bg-home.jpg');

			h1 {
				color:$white;
				@include font-size(115px, 125px);
				font-family: $gary;
        padding:20% 0 0;

            @include phone {
                @include font-size(45px, 48px);
                padding-top:60%;
            }

            @include tablet-p {
                @include font-size(50px, 55px);
                padding-top:40%;
            }

            @include tablet-h {
                @include font-size(75px, 85px);
                padding-top:40%;
            }

            @include desktop-s {
                @include font-size(75px, 85px); 
                padding-top:30%;
            }
			}

	    h2.roles {
            display:none;
            @include font-size(27px, 30px);
            font-weight: 300;

                @include phone {
                  @include font-size(21px, 24px);
                }

                @include tablet-p {
                  @include font-size(18px, 21px);
                }

                @include tablet-h {
                  @include font-size(21px, 24px);
                }

                @include desktop-s {
                  @include font-size(21px, 24px);
                }

            span {
              display:inline-block;
              background: -webkit-linear-gradient(45deg, $fuschia, $orange);
              background: linear-gradient(45deg, $fuschia, $orange);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              margin:0;
            }
		  }

      a.arrow { 
        left:50%;
        margin-left:-20px; 
      }
	  }

    section.feature {

      img.logo {
        position: absolute;
        top: 50%;
        left:50%;
        margin-left:-195px;
        margin-top:-195px;
        z-index: 2;

        @include phone {
            position: absolute;
            top: 25%;
            left: 50%;
            margin-left: -50px;
            margin-top:0;
            width: 100px;
        }
      }

      img.cover {
        display: block;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
      }

      .project-basics,
      .project-bio,
      .project-link {
        height:100%;
        min-height: 400px;
        padding:15% 0 0;
        top:-50%;
        margin-top:75px; 

        @include phone {
            height:auto;
        }

        @include tablet-p {
            height:auto;
        }

        @include tablet-h {
            height:auto;
        }

        h2 {margin:0 0 25px 0;}

        h3, ul {
          @include font-size(15px, 18px);
          margin:0 0 25px 0;
          font-weight:300;
          color:$slate;

          @include phone {@include font-size(12px, 15px);}
          @include tablet-p {@include font-size(12px, 15px);}

        }
        
        .intro {
          @include font-size(22px, 25px);
          font-weight: 300;
          max-width: 500px;
          margin-right:50px;
          color:$slate;

            @include phone {
                @include font-size(12px, 15px);
                max-width:inherit;
                margin-right:0;
            }

            @include tablet-p {
                @include font-size(18px, 21px);
                max-width:inherit;
                margin-right:0;
            }
            
            @include tablet-h {
                @include font-size(18px, 21px);
                max-width:inherit;
                margin-right:0;
              }
            
            @include desktop-s {@include font-size(18px, 21px);}
        }

        .more {
          @include font-size(18px, 21px);
          font-family: $gary;
          max-width: 500px;
          margin:15px 50px 0 0;
          color:$slate;

          @include phone {
            @include font-size(12px, 15px);
                max-width:inherit;
                margin-right:0;
          }

           @include tablet-p {
                max-width:inherit;
                margin-right:0;
          }

          @include tablet-h {
                max-width:inherit;
                margin-right:0;
          }

          @include desktop-s {
            @include font-size(15px, 18px);
            margin-right:0;
          }
        }
      }

    .arrow {bottom:25px;}  

    #two {
        background: linear-gradient(
            to right, 
            darken($khaki, 5%) 0%, 
            darken($khaki, 5%) 50%, 
            $white 50%, 
            $white 100%
        );

        @include tablet-h {
            background: linear-gradient(
                to right, 
                $khaki 0%, 
                $khaki 66.75%, 
                $white 66.75%, 
                $white 100%
            );     
        }

        img {
            padding-top:100px;

            @include phone {padding-top:25px;}
            @include tablet-p {padding-top:25px;}
        }

        .height {
            @include tablet-h {height:auto;}
        }

        .arrow {
            @include tablet-h {
                display: block;
                margin-left:70%;
                position: relative;
            }
        }
    } 
 
      #three {
        position: relative;

        img {
            display: block;
            margin: 0 auto;
            padding-top: 25px;
        }

        .previous, .next {
            position:absolute;
            z-index: 10;
            right:0;
            width:160px;
            @include font-size(18px, 21px);
            bottom:35%;
            padding:15px;
            background-color: $white;
            border-bottom:1px solid $hotpink;  

                @include phone {
                    @include font-size(12px, 15px);
                    padding:10px;
                    width:100px;
                  }
                @include tablet-p {
                    @include font-size(12px, 15px);
                    padding:10px;
                    width:100px;
                  }
                @include tablet-h {
                    @include font-size(15px, 18px);
                    width:125px;
                  }
                @include desktop-s {
                    @include font-size(15px, 18px);
                    width:135px;
                  }

            div {
                color: $slate;
                @include font-size(12px, 15px);
                text-transform: uppercase;
            }

            a {
                color:darken($yellow, 5%);

                &:hover {color:$hotpink;}
            }
        }

        .previous {
          left:0;
          padding-left:0;
          text-align: right;
        }

        .pattern-wrap {
          background: transparent url('/img/ghel/ghel-bg.jpg') repeat; // feature by default
          border-bottom:1px solid $hotpink;

          &.asa24 {background: transparent url('/img/asa24/asa24-bg.jpg') repeat;}
          &.blp {background: transparent url('/img/blp/blp-bg.jpg') repeat;}
          &.ep {background: transparent url('/img/ep/ep-bg.jpg') repeat;}
          &.hm {background: transparent url('/img/hm/hm-bg.jpg') repeat;}
          &.ghel {background: transparent url('/img/ghel/ghel-bg.jpg') repeat;}
          &.nacha {background: transparent url('/img/nacha/nacha-bg.jpg') repeat;}
          &.qcorp {background: transparent url('/img/qcorp/qcorp-bg.jpg') repeat;}
          &.s2f {background: transparent url('/img/s2f/s2f-bg.jpg') repeat;}
          &.sqm {background: transparent url('/img/sqm/sqm-bg.jpg') repeat;}
          &.tlp {background: transparent url('/img/tlp/tlp-bg.jpg') repeat;}

        }
      }
    }
  }
}

// WORK ALT
.work-alt {
 section.feature {

    #two {
      background: linear-gradient(
        to right, 
        darken($khaki, 5%) 0%, 
        $white 50%, 
        $white 50%, 
        $babypink 100%
      )!important;
    }

    #three {
      background: linear-gradient(
        to right, 
        $khaki 0%, 
        $white 50%, 
        $white 50%, 
        darken($babypink, 5%) 100%
      );

      img {padding-top:20%;}
    }
  }
}

// PHONE
@include phone {
    .phone {
        .col-xs-8, 
        .col-xs-4 {
            width:50%;
        }
    }
}



