footer {

    p {
        @include font-size(10px, 55px);
        color:$espresso;
        height:50px;
        text-align: center;

        span {color:$yellow;}
    }

    @include phone {display: none;}
    @include tablet-p {display: none;}
}


