footer {

  @include phone {
    display: none;
  }

  .folio {
    position: relative;
    padding-top:15px;backgound: $babypink;

    p {
      @include font-size(10px, 13px);
      margin:0;
      color:$slate;
    }
  }
}


