footer {
  margin-top:25px;

  div.circle {
    background-color: transparent;
    border: 6px solid $white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    bottom:-30px;
  }

  p {
    @include font-size(10px, 13px);
    margin:0;
    color:$white;
  }

  p + p {
     color: $yellow;
  }
}


