// color
$hotpink:		#CE004F;
$fuschia:		#EB0091;
$white: 		#fff;
$black:			#000;
$slate:			#5C7484;
$salon:			#03619D;
$light-grey:	#eaeaea;
$khaki:			#F2F1EF;
$orange:		#FF7D0D;
$babypink:		#F8E4E4;
$babyslate: 	#e2e2e5;

// yellows
$yellow:		#D1B100;
$yellow-light:	lighten($yellow, 25%);
$yellow-dark: 	darken($yellow, 25%);
// coral pinks
$coral:			#FF6969;
$coral-light:	lighten($coral, 20%);

// dark blues
$night:			#001726;
$night-light:	lighten($night, 10%);

// fonts
$worky: 		'Work Sans', Helvetica, arial, sans-serif;
$gary:  		'EB Garamond', Georgia, serif;

// mq
$phone:0px;
$tablet-p:520px;
$tablet-h:768px;
$desktop-s:992px;
$desktop: 1200px;
