<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="navbar-header">
     <a class="navbar-brand" href="/">
	     <div class="circle"></div>
	     <p>Elizabeth Miller<p>
	     <p>is a creative director</p>
     </a>
  </div> 

<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
   <label for="drawer-toggle" id="drawer-toggle-label"></label>
   <nav id="drawer">  
        <ul>
          <h5>work</h5>
            <li><a href="/project/ghel">Global Health eLearning</a></li>
            <li><a href="/project/s2f">Start2Farm</a></li>
            <li><a href="/project/asa24">ASA24</a></li>
            <li><a href="/project/healthmap">Emory HealthMAP</a></li>
            <li><a href="/project/tlp">Teacher &amp; Leadership Programs</a></li>
            <li><a href="/project/nacha">NACHA</a></li>
            <li><a href="/project/epay">Electronic Payments</a></li>
            <li><a href="/project/qcorp">QCORP</a></li>
            <li><a href="/project/blp">Bend-La Pine</a></li>
            <li><a href="/project/sqm">sqm.io</a></li>
            <li>&nbsp;</li>
            <li><a href="about.html" class="hi">About</a></li>
            <li><a href="/docs/Elizabeth-Miller-Resume.pdf" class="hi">&#65516; Resume</a></li>
            <li><a href="#">Contact Me</a></li>
        </ul>
   </nav>
</nav>



 