<script language="javascript">
  $(document).ready(function(){
    $('#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4').click(function(){
      $(this).toggleClass('open');
    });
  });
</script> 

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="navbar-header">
     <a class="navbar-brand" href="/">
	     <div class="circle"></div>
	     <p>Portfolio of Elizabeth Miller<p>
	     <p>Portland, OR</p>
     </a>
  </div> 

  <button id="nav-icon2" class="navbar-toggler hidden-lg-up navbar-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="collapse navbar-toggleable-md" id="exCollapsingNavbar">
    <ul>
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About</a>
      </li>

      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Work <b class="caret"></b></a>
        <ul class="dropdown-menu multi-level">
            <li><a href="#">Global Health eLearning</a></li>
            <li><a href="#">Emory HealthMAP</a></li>
            <li><a href="#">ASA24</a></li>
            <li><a href="#">Start2Farm</a></li>
            <li><a href="#">Teacher &amp; Leadership Programs</a></li>
            <li><a href="#">NACHA</a></li>
            <li><a href="#">Electronic Payments</a></li>
            <li><a href="#">QCORP</a></li>
            <li><a href="#"></a>Bend-La Pine</li>
            <li><a href="#"></a>Kavi</li>
        </ul>
     </li>

<!--       <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Case Studies <b class="caret"></b></a>
          <ul class="dropdown-menu multi-level">
              <li><a href="#">Education</a></li>
              <li><a href="#">Health</a></li>
          </ul>
      </li> -->

      <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact</a>
      </li>
    </ul>
  </div>
</nav>



 