<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="navbar-header">
     <a class="navbar-brand" href="/">
	     <div class="circle"></div>
	     <p>Elizabeth Miller<p>
	     <p>is a creative director</p>
     </a>
  </div> 

<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
   <label for="drawer-toggle" id="drawer-toggle-label"></label>
   <nav id="drawer">  
    <ul>
      <li>
        <ul>
            <li><a href="#">Global Health eLearning</a></li>
            <li><a href="#">Emory HealthMAP</a></li>
            <li><a href="#">ASA24</a></li>
            <li><a href="#">Start2Farm</a></li>
            <li><a href="#">Teacher &amp; Leadership Programs</a></li>
            <li><a href="#">NACHA</a></li>
            <li><a href="#">Electronic Payments</a></li>
            <li><a href="#">QCORP</a></li>
            <li><a href="#">Bend-La Pine</a></li>
            <li><a href="#">sqm.io</a></li>
        </ul>
     </li>
      <li>
        <h4>
          <a href="about.html">About</a>
        </h4>
      </li>
      <li>
        <h4>
          <a href="#">Contact</a>
        </h4>
      </li>
    </ul>


   </nav>
</nav>



 